@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Roboto:wght@300&display=swap'); 
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
*{
  font-family: 'Mukta', sans-serif;
font-family: 'Roboto', sans-serif;
}
  strong{
    color:#611b87;
  }
  ::-webkit-scrollbar  {
  display:none;
  } 
 
}